.headerLogged {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background: #f4f1ea;
}

.headerWrapper {
    height: 50px;
    margin: 0 auto;
    display: flex;
    width: 1220px;
    justify-content: space-evenly;
}

.logoLogged {
    display: inline-block;
    height: 50px;
    background: url(../img/header_logo.png) no-repeat;
    background-position: center;
    background-size: 140px 30px;
    margin-left: 15px;
    width: 140px;
}

.navLogged {
    vertical-align: top;
    margin: 0 15px;

    ul {
        display: flex;
    }
}

.navLoggedBtn:hover,
.profileBtn:hover {
    background-color: #382110;
    color: white;
}

.navLoggedBtn {
    display: inline-block;
    color: #382110;
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.dropdownWrapper{
    
}

.navLoggedBtnDropdown{
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    z-index: 700;
    // box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    padding: 8px;
    

    * {
        margin: 2px;
    }
}

.personalNav {
    margin-right: 8px;
    float: none;
    display: flex;

    ul {
        display: flex;
    }
}

.profileBtn {
    border: 0;
    background-color: transparent;
    margin-left: 20px;
}

.profilePic {
    box-sizing: border-box;
    display: inline-block;
    height: 45px;
    width: 46px;
    background-image: url(../img/profile_pic.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -5px;
}

.profileBtnDropdown {
    background-color: #ffffff;
    position: absolute;
    right: -50px;
    width: 250px;
    padding: 8px 0;
    float: left;
    z-index: 70;
    // box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.profileName {
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 0 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.signOutLink {
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 0 16px;
    border-top: 1px solid #dcd6cc;
}

.notifications {
    margin-right: 5px;
    width: 30px;
    position: relative;

    .notificationIcon {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/goodreads-9c368.appspot.com/o/icn_nav_notifications.png?alt=media&token=719922c5-e698-413d-8918-5cb569a8f919");
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        display: inline-block;
        height: 50px;
        width: 46px;
        margin-left: 5px;

        padding-top: 10px;
        cursor: pointer;

        &:hover {
            background-color: #382110;
        }
    }

    .notifCount {
        display: block;
        position: absolute;
        font-size: 12px;
        color: #382110;
        top: 0;
        left: 40px;
        z-index: 100;
        width: 40px;
        height: 50px;
        font-weight: 700;
    }

    .notifCountNone {
        display: none;
    }

    .dropdownContainer {
        display: none;
        background-color: #ffffff;
        position: absolute;
        top: 50px;
        right: -15px;
        width: 330px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem,
            rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
        padding: 8px 0;
        text-align: center;
        font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
        max-height: 380px;
        overflow-y: scroll;

        .dropdownText {
            font-size: 12px;
            font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
            color: #333;
        }

        .dropdownTextNone {
            display: none;
        }

        .messageContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 12px;
            font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
            color: #333;
            justify-content: space-between;
            border-bottom: 1px solid #d6d4ce;
            margin-top: 10px;

            .message {
                text-align: left;
                margin: 5px;
                display: flex;
            }

            .buttonsContainer {

                .buttons {
                    margin-right: 10px;
                    color: #00635d;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
           
        }
        
    }

    .dropdownContainer.show {
        display: block;
    }
}
