.commentsContainer,
.commentsContainerUser {
    width: 780px;
    display: flex;
    margin-top: 10px;

    .userImgContainer {
        margin-right: 10px;
        width: 50px;
        max-width: 50px;

        .userImg {
            width: 50px;
            max-width: 50px;
        }
    }

    .commentsInfoContainer {
        width: 700px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        position: relative;

        .metaInfo {
            display: flex;
            width: 700px;
            justify-content: space-between;

            .userName {
                color: #00635d;
                font-weight: bold;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 14px;
            }

            .rating {
                margin: 0 5px;
                font-weight: 600;
                margin-top: 5px;
            }

            .date {
                color: #bbbbbb;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 14px;
            }
        }

        .commentInfo {
            width: 700px;
            word-wrap: break-word;
            line-height: 21px;
            margin-bottom: 10px;
            font-size: 16px;
            margin-top: 10px;
            position: relative;
            padding-bottom: 20px;

            .description {
                width: 700px;
                height: auto;
                font-family: "Merriweather", "Georgia", serif;
                line-height: 21px;
                word-wrap: break-word;
                white-space: normal;
                font-size: 16px;
            }

            .more {
                position: absolute;
                right: 20px;
                bottom: 0px;
                color: #00635d;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .footerInfo {
            position: absolute;
            bottom: 5px;

            .likesCount {
                color: #00635d;
            }

            .likeBtn,
            .EditBtn {
                border-radius: 3px;
                border: 1px solid #d6d0c4;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 13px;
                appearance: none;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                color: #333333;
                background-color: #f4f1ea;
                line-height: 1;
                padding: 3px 8px;
                margin-right: 10px;

                &:hover {
                    background-color: #dad4c9;
                }
            }
        }
    }
}

.commentsContainerUser {
    background-color: #f7f6f4;
    border: 1px solid #dedbd7;
    border-radius: 5px;

}
