.reviewContainer {
    display: flex;
    flex-direction: row;
}

.reviewCta {}

.prifileIcon {
    margin-right: 15px;
}

.reviewCtaLabel {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviewButton {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    margin-left: 20px;
}

.reviewCtaRight {
    width: 550px;
    position: relative;
}

.reviewCtaControls {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.reviewContainer {
    border-top: 1px solid #DFDFDF;
    padding-top: 30px;
    width: 750px;
}

.ownReviewContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}