.mainContentContainer {
    margin: 0px auto;
    text-align: left;
    width: 770px;
    height: 80vh;
    background: #ffffff;

    .container {
        margin-top: 80px;
        .title {
            padding: 0px 0px 2px 0px;
            font-size: 20px;
            font-family: "Merriweather", Georgia, "Times New Roman", serif;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 15px;
            color: #382110;
            line-height: 24px;
            color: #382110;
        }

        .mediumText {
            font-size: 14px;
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 18px;
            color: #181818;
        }

        .btnContainer {
            margin-top: 20px;

            .cancel {
                margin-left: 20px;
                font-size: 13px;
                color: #00635d;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .errorTextShow {
            margin-top: 30px;
            display: block;
            font-size: 13px;
            color: #8d1010;
            font-weight: 600;
        }
    }
}
