.mainContent {
    width: 870px;
    font-size: 12px;
    min-height: 400px;
    background: #ffffff;
    margin: 0px auto;
    margin-top: 15px;

    .h1Title {
        padding: 0px 0px 2px 0px;
        font-size: 24px;
        font-family: "Merriweather", Georgia, "Times New Roman", serif;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 15px;
        color: #382110;
        line-height: 24px;
        margin: 4px 0px;

        .mediumText {
            font-size: 14px;
            color: #00635d;
            text-decoration: none;
            display: flex;
            justify-content: flex-end;

            .mediumTextLink {
                color: #00635d;
                text-decoration: none;
            }
        }
    }

    .userInfoBox {
        .userData {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .leftBox {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 625px;
                padding-right: 10px;
                padding-left: 8px;
                word-wrap: break-word;

                .formInput {
                    margin: 18px 0;
                    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    line-height: 18px;
                    padding: 0;

                    .formLabel {
                        margin-bottom: 0;

                        .required {
                            color: red;
                        }
                    }

                    .firstNameInput {
                        background: #FFFFFF;
                        border-radius: 3px;
                        border: #DCD6CC 1px solid;
                        color: #333333;
                        font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                        resize: none;
                        font-size: 14px;
                        padding: 4px;
                    }
                }
            }

            .rightBox {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }
}
