// Table View-----------------------------------
.table{
    margin-bottom: 10px;
}

.heading{
    color: #382110;
    font-weight: bold;
    width: 50px;
    vertical-align: bottom;
}

.row{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    td{
        vertical-align: top;
        padding: 12px 5px 5px 0;

        img{
            width: 50px;
        }
    }
}

// Cover View-----------------------------------

.coverViewWrapper{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.bookCoverWrapper{
    position: relative;
}

.cover{
    max-width: 100px;
    max-height: 150px;
    box-shadow: #ccc 5px 5px 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

// Tooltips---------------------------------------

.bookInfoContainer {
    display: none;
    position: absolute;
    background:#f1f1f1;
    border: 5px solid rgb(190, 180, 163);
    border-radius: 5px;
    width: 400px;
    height: 250px;
    top: -10px;
    left: 125px;
    z-index: 100;

    .wrapper {
        margin: 15px;
        height: 210px;
        overflow: hidden;
        text-overflow: ellipsis;

        .bookInfoContainerTitle {
            color: #382110;
            font-size: 14px;
            font-weight: 700;
            font-family: "Merriweather", Georgia, "Times New Roman", serif;
        }
    
        .bookInfoContainerText {
            color: #382110;
            font-family: "Merriweather", Georgia, "Times New Roman", serif;
            font-size: 12px;
            margin-bottom: 3px;
        }

        .bookMeta {
            text-align: left;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 3px;
        
            .staticRating {
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 12px;
                margin-left: 5px;
                color: #382110;
            }
            
            .staticRatingStars {
                margin-top: -8px;
            }
            
            .ratingCount, .reviewCount{
                color: #382110;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 12px;
                margin-left: 5px;
            }
        }
    } 
}
