.mainContainer {
    background: #ffffff;
    margin-top: 50px;
    display: flex;
    min-height: 72vh;

    .myBooksWrapper {
        text-align: left;
        margin: 0px auto;
        padding-bottom: 25px;
        width: 970px;

        .main {
            float: left;
            width: 100%;
            margin-top: 15px;
            margin-left: 5px;
            font-size: 12px;

            .header {
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid #ebe8d5;
                color: #bbb596;
                display: flex;
                justify-content: space-between;

                .title {
                    color: #00635d;
                    font-size: 20px;
                    font-family: "Merriweather", Georgia, "Times New Roman", serif;
                    font-weight: bold;
                }
            }

            .contentWrapper {
                display: flex;

                .sidebar {
                    margin-right: 20px;
                    width: 150px;

                    .shelvesSection {
                        border-bottom: 1px solid #d8d8d8;
                        width: 150px;

                        * {
                            display: block;
                            color: #00635d;
                        }
                    }
                    .heading {
                        font-weight: bold;
                        font-size: larger;
                        margin-bottom: 5px;
                    }

                    .subheading {
                        margin-bottom: 5px;
                    }
                }

                .booksViewContainer {
                    width: 700px;

                    .controls {
                        display: flex;
                        justify-content: flex-end;
                        padding-bottom: 2px;
                        display: flex;

                        .searchField {
                            /* float: left; */
                            /* margin-right: -30px; */
                            color: #666;
                            display: flex;

                            .searchIcon {
                                background-image: url(../img/search_icon.png);
                                background-size: 16px;
                                background-repeat: no-repeat;
                                background-position: center;
                                position: relative;
                                top: 2px;
                                right: 20px;
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .listViewIcon,
                        .gridViewIcon {
                            position: relative;
                            right: 5px;
                            top: 7px;
                            background-size: 23px;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 23px;
                            width: 21px;
                            background-color: transparent;
                            border: 0;
                        }

                        .listViewIcon:hover,
                        .gridViewIcon:hover {
                            background-color: #f4f2e9;
                        }

                        .listViewIcon:active,
                        .gridViewIcon:active {
                            background-color: #f4f2e9;
                            border: 0;
                        }

                        .listViewIcon {
                            background-image: url(../img/list_view_icon.png);
                        }
                        
                        .gridViewIcon {
                            background-image: url("../img/grid_view_icon.png");
                        }
                    }

                    .filters {
                        display: flex;
                        justify-content: space-around;

                        .filters label {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}






