.mainContainer {
    background: #ffffff;
    margin-top: 50px;
    display: flex;
    height: 100%;
}

.myBooksWrapper{
    text-align: left;
    margin: 0px auto;
    padding-bottom: 25px;
    width: 970px;
    
}


.main{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    
}


.header{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EBE8D5;
    color: #BBB596;
    display: flex;
    justify-content: space-between;
}

.title{
    color: #00635d;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.contentWrapper{
    display: flex;
    width: 100%;

    .sidebar{
        margin-right: 10px;
        width: 150px;
        
        .shelvesSection{
            border-bottom: 1px solid #D8D8D8;
            width: 150px;

            *{
                display: block;
                color: #00635d;
            }

        .subheading{
            padding: 2px 0;
        }
    

    .booksViewWrapper{
        width: 700px;
    }
    }
}
}
