input{
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    resize: none;
}
/* 
h2{
    margin: 20px 0 10px 0;
    color: #000;
    font-size: 18px;
} */

/* .button:hover{
    color: #333333;
    background-color: #ede6d6;
    text-decoration: none;
} */

/* .button:active{
    background-color: #D6D0C4;
} */

/* Main Container------------------------------------------------------ */

.main{
    width: 100%;
    padding-bottom: 25px;
    background: #FFFFFF;
}

.mainContainer{
    width: 600px;
    margin: 0 auto;
    font-size: 12px;
    min-height: 400px;
}

.textBoxWrapper{
    display: flex;
}

.textBox{
    margin: 24px 10px 10px 0;
    width: 280px;
    font-size: 13px;

    p{
        color: #333333;
        font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
        font-size: 14px;
        line-height: 18px;
        margin: 18px 0;
    }
}

.searchBarWrapper{
    width: 95%;
    margin-bottom: 20px;
}

.discoveryBox{
    margin: auto;
    height: 400px;
    background-image: url(../img/discoveryBox.png);
    background-repeat: no-repeat;
    background-size: auto 400px;
}

.genreLinksWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 625px;

    a{
        margin: 3px 0;
    }
}

.genreLink{
    font-size: 14px;
    line-height: 1.5;
    color: #00635D;
    
}