.myBooksWrapper{
    margin: 0px auto;
    text-align: left;
    /* width: 970px; */
    padding-bottom: 25px;
}


.main{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    min-height: 400px;
}


.header{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EBE8D5;
    color: #BBB596;
    display: flex;
    justify-content: space-between;
}

.title{
    color: #00635d;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.controls{
    /* float: right; */
    padding-bottom: 2px;
    display: flex;
}

.searchField{
    /* float: left; */
    /* margin-right: -30px; */
    color: #666;
    display: flex;
}

.searchIcon{
    background-image: url(../img/search_icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 2px;
    right: 20px;
    width: 16px;
    height: 16px;
}

.listViewIcon, .gridViewIcon{
    position: relative;
    right: 5px;
    top: 7px;
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
    height: 23px;
    width: 21px;
    background-color: transparent;
    border: 0;
}

.listViewIcon:hover, .gridViewIcon:hover{
    background-color: #f4f2e9;
}

.listViewIcon:active, .gridViewIcon:active{
    background-color: #f4f2e9;
    border: 0;
}

.listViewIcon{
    background-image: url(../img/list_view_icon.png);
}

.gridViewIcon{
    background-image: url("../img/grid_view_icon.png");
}

.filters{
    display: flex;
    justify-content: space-around;
   
}

.filters label{
    margin: 0 5px;
}