.myBooksWrapper{
    margin: 0px auto;
    text-align: left;
    /* width: 970px; */
    padding-bottom: 25px;
}


.main{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    min-height: 400px;
}


.header{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EBE8D5;
    color: #BBB596;
    display: flex;
    justify-content: space-between;
}

.title{
    color: #00635d;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.controls{
    /* float: right; */
    padding-bottom: 2px;
}

.searchField{
    /* float: left; */
    /* margin-right: -30px; */
    color: #666;
}