.errorContentContainer {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.mainErrorContent {
    margin: 0px auto;
    text-align: left;
    width: 670px;
    background: #FFFFFF;
}

.leftContainer {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    min-height: 400px;
}

.errorHeader {
    color: #333333;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
}

.rightContainer {
    float: right;
    text-align: right;
    width: 200px;
    height: 300px;
}

.author {
    position: relative;
    right: 120px;
    top: -60px;
}

.authorImg {
    border-radius: 50%;
}

.errorText {
    width: 400px;
    font-size: 16px;
    line-height: 150%;
    color: #767676;
    padding-right: 20px;
    font-family: "Merriweather", "Georgia", serif;
}

.errorBtn {
    margin: 18px 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    text-decoration: none;
}

.button {
    color: #333333;
    text-decoration: none;
}

.button:hover {
    color: #333333;
    text-decoration: none;
}

.errorBtn:hover {
    background-color: #e0d6c1;
}