.siteFooter {
    background: #f9f8f4;
    padding-bottom: 32px;
    padding-top: 32px;
    width: 100%;

    .footerContents {
        max-width: 1120px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .contentRow {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: space-between;

            .col6 {
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                box-sizing: border-box;

                .col3 {
                    flex: 0 0 33.33333%;
                    max-width: 33.33333%;
                    position: relative;
                    width: 100%;
                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    text-align: left;

                    .heading {
                        margin-top: 0px;
                        font-size: 16px;
                        font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                        font-weight: bold;
                        line-height: 1.15;
                        margin: 12px 0;
                        text-transform: uppercase;
                        color: #767676;
                        margin-bottom: 8px;
                    }
                    
                    .linkList {
                        font-size: 14px;
                        list-style: none;
                        margin-bottom: 32px;
                        margin-top: 0;
                        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        line-height: 18px;
                        padding: 0;

                        .linkListItem {
                            line-height: 1.5;
                            font-size: 14px;
                            list-style: none;

                            .link {
                                color: #382110;
                                text-decoration: none;
                                cursor: pointer;
                            }
                            
                            .link:hover {
                                color: #382110;
                                font-weight: 500;
                            }
                        }
                    }
                    .socialLinkWrapper {
                        display: inline-block;

                        .socialLink {
                            display: inline-block;
                            margin-bottom: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
            .col4 {
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;

                .appLinksColumnContents {
                    justify-content: flex-end;

                    .appLinksColumnBadges {
                        margin-bottom: 8px;
                    }

                    .linkList {
                        font-size: 14px;
                        list-style: none;
                        margin-bottom: 32px;
                        margin-top: 0;
                    }
                }
            }
        }
    }  
}




